rules_version = '2';
service cloud.firestore {
    function isAuthenticated() {
      return request.auth != null;
    }

    function isUserAuthenticated(userId) { 
      return isAuthenticated() && userId == request.auth.uid;
    }

    function isValidUserSchema(user) {
      return user.size() == 8
      && 'screenName' in user && user.screenName is string
      && 'displayName' in user && user.displayName is string
      && 'description' in user && user.description is string
      && 'photoUrl' in user && user.photoUrl is string
      && 'provider' in user && user.provider is string
      && 'providerUid' in user && user.providerUid is string
      && 'createdAt' in user && user.createdAt is timestamp
      && 'updatedAt' in user && user.updatedAt is timestamp;
    }

  match /databases/{database}/documents {
    match /users/{userId} {
      allow get: if isUserAuthenticated(userId);
      allow create: if isUserAuthenticated(userId)
      && isValidUserSchema(request.resource.data)
      allow update: if isUserAuthenticated(userId)
      && isValidUserSchema(request.resource.data)
    }
  }
}