<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link
      type="text/css"
      rel="stylesheet"
      href="<%= htmlWebpackPlugin.options['firebaseUIAuthCSS'] %>"
    />
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <script
      defer
      crossorigin
      src="<%= htmlWebpackPlugin.options['React'] %>"
    ></script>
    <script
      defer
      crossorigin
      src="<%= htmlWebpackPlugin.options['ReactDOM'] %>"
    ></script>
    <script src="<%= htmlWebpackPlugin.options['firebase'] %>"></script>
    <script
      defer
      src="<%= htmlWebpackPlugin.options['firebaseAuth'] %>"
    ></script>
    <script
      defer
      src="<%= htmlWebpackPlugin.options['firebaseFirestore'] %>"
    ></script>
    <script
      defer
      src="<%= htmlWebpackPlugin.options['firebaseUIAuth'] %>"
    ></script>
    <script
      defer
      crossorigin
      src="<%= htmlWebpackPlugin.options['MaterialUI'] %>"
    ></script>
  </body>
</html>
