<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script
      crossorigin
      defer
      src="<%= htmlWebpackPlugin.options['React'] %>"
    ></script>
    <script
      crossorigin
      defer
      src="<%= htmlWebpackPlugin.options['ReactDOM'] %>"
    ></script>
    <script defer src="<%= htmlWebpackPlugin.options['firebase'] %>"></script>
    <script
      defer
      src="<%= htmlWebpackPlugin.options['firebaseAuth'] %>"
    ></script>
    <script
      defer
      src="<%= htmlWebpackPlugin.options['firebaseFirestore'] %>"
    ></script>
    <script
      defer
      src="<%= htmlWebpackPlugin.options['firebaseUIAuth'] %>"
    ></script>
    <link rel="manifest" href="manifest.json" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" href="/favicon.ico" />
    <link
      type="text/css"
      rel="stylesheet"
      href="<%= htmlWebpackPlugin.options['firebaseUIAuthCSS'] %>"
    />
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
  </body>
</html>
